footer {
  background-color: var(--white);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
}

.footer__center {
  display: flex;
  flex-direction: column;
}

.footer__right {
  display: flex;
  flex-direction: row;
}

.footer__left div {
  margin-bottom: 15px;
}
.footer__right div {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.footer__center div {
  margin-bottom: 5px;
}

.footer__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
