footer {
  background-color: var(--red);
  color: var(--white);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
}

.footer__center {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer__right {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.footer__left div {
  margin-bottom: 15px;
}

.footer__center_adress {
  margin-bottom: 5px;
  font-weight: 500;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer__subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer__phone_number {
  font-size: 30px;
  text-decoration: underline;
}

.footer__question {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.footer__logo {
  width: 60px;
}
/* #ff6666 */

.icon__holder {
  height: 35px;
  width: 35px;
  background-color: #ff6666;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 15px;
}

.icon {
  width: 50px;
}

.icon_linkedin {
  width: 50px;
  margin-left: 5px;
}
