@import url(header.css);
@import url(mainPage.css);
@import url(footer.css);

:root {
  --red: rgb(225, 10, 10);
  --white: #ffffff;
  --lightGrey: #f2f2f2;
  --lightRed: #ff6666;
}

body {
  margin: 0;
  background-color: var(--lightGrey);
}

div,
body {
  font: calibri, helvetica, sans-serif;
}
