<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/stylesheet.css" />
  </head>
  <body>
    <header>
      <div class="menu__items">
        <img src="../assets/logo.png" alt="logo" />
        <a href="">item 1</a>
        <a href="">item 2</a>
        <a href="">item 1</a>
        <a href="">item 2</a>
      </div>
      <div class="menu__login">
        <button>Login</button>
      </div>
    </header>
    <section class="section__mainpage">
      <aside>
        <p>aside</p>
      </aside>
      <div>main</div>
    </section>
    <footer>
      <div class="footer__container">
        <div class="footer__left">
          <div class="footer__title">Gemeente Utrecht</div>
          <div class="footer__subtitle">Telefoon</div>
          <a class="footer__phone_number">14 030</a>
          <a class="footer__question"><span>></span> Hoe werkt 14030?</a>
          <a class="footer__question">> Meer contactinformatie</a>
          <a class="footer__question">> Over deze website</a>
        </div>
        <div class="footer__center">
          <div class="footer__subtitle">Adres</div>
          <div class="footer__center_adress">Stadskantoor</div>
          <div class="footer__center_adress">Stadsplateau 1</div>
          <div class="footer__center_adress">3521AZ Utrecht</div>
        </div>
        <div class="footer__right">
          <img class="footer__logo" src="../assets/facebook_logo.svg" />
          <div class="icon__holder">
            <img class="icon" src="../assets/instagram_logo.svg" />
          </div>
          <div class="icon__holder">
            <img class="icon_linkedin" src="../assets/linkedin_logo.svg" />
          </div>
          <div class="icon__holder">
            <img class="icon" src="../assets/twitter_logo.svg" />
          </div>
          <div class="icon__holder">
            <img class="footer__logo" src="../assets/whatsapp_logo.svg" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
