<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/stylesheet.css" />
  </head>
  <body>
    <header>
      <div class="menu__items">
        <img src="../assets/logo.png" alt="logo" />
        <a href="">item 1</a>
        <a href="">item 2</a>
        <a href="">item 1</a>
        <a href="">item 2</a>
      </div>
      <div class="menu__login">
        <button>Login</button>
      </div>
    </header>
    <section class="section__mainpage">
      <aside>
        <p>aside</p>
      </aside>
      <div>main</div>
    </section>
    <footer>
      <div class="footer__container">
        <div class="footer__left">
          <div class="footer__title">Gemeente Utrecht</div>
          <div>Telefoon</div>
          <div>14 030</div>
          <div>Hoe werkt dit?</div>
          <div>Meer contactinformatie</div>
          <div>Over deze website</div>
        </div>
        <div class="footer__center">
          <div class="footer__title">Adres</div>
          <div>Stadskantoor</div>
          <div>Stadsplateau 1</div>
          <div>3521AZ Utrecht</div>
        </div>
        <div class="footer__right">
          <div>Facebook</div>
          <div>Instagram</div>
          <div>LinkedIn</div>
          <div>Twitter</div>
          <div>Whatsapp</div>
        </div>
      </div>
    </footer>
  </body>
</html>
